@import '../../styles/sass/breakpoints';
@import '../../styles/sass/colors';
.logo {
  margin: 20px 20px;
  width: 150px;
  max-width: 50%;
  height: auto;
  fill: $base-color;
  align-self: center;


  @media screen and (min-width: $laptop) {
    margin-top: 100px;
    width: 350px;
    margin-left: 400px;
  }
}
